.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    overflow: scroll;
}

.move-around {
    color: white;
    font-weight: bolder;
    letter-spacing: 4px;

    animation-name: fadeIn;
    animation-duration: 0.4s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.success {
    font-family: amador, sans-serif;
    font-weight: 400;
    color: #A60013;
    font-style: normal;
    font-size: 120px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.done {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 240px;
    position: absolute;
    z-index: 1;
    pointer-events: none;

    .done-row {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fade-in-box {
        width: 60px;
        min-width: 60px;
        min-height: 60px;
        padding: 0px;
        background: black;
        opacity: 0;

        animation-name: fadeInBox;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;

        @keyframes fadeInBox {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }


    .made-it {
        color: white;
        font-weight: bold;
        letter-spacing: 4px;
        font-size: 16px;
        position: absolute;
        animation-name: youveMadeIt;
        animation-duration: 3.6s;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        opacity: 0%;
    }

    @keyframes youveMadeIt {
        0% {
            opacity: 0;
            transform: translateY(20px);
            color: #82220a;
        }
        25% {
            opacity: 1;
            transform: translateY(0px);
            color: red;
            color: white;
        }
        75% {
            opacity: 1;
            transform: translateY(0px);
            color: red;
            color: white;
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
            color: #82220a;
        }
    }

    .paragraph {
        font-size: 28px;
        font-size: 16px;
        position: absolute;
        animation-name: youveMadeIt;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        opacity: 0%;
        color: white;
        font-weight: bolder;
        letter-spacing: 1px;
    }

    .p1 {
        animation-delay: 5.5s;
    }

    .p2 {
        animation-delay: 9.5s;
    }

    .p3 {
        animation-delay: 13.5s;
    }
}

.image-section {
    width: 480px;
    height: 480px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    -webkit-transform: rotateX(55deg) rotateZ(45deg) translate(0px, 0px);
    -webkit-transform-style: preserve-3d;
}

.image-card {
    width: 80px;
    height: 80px;
    margin: 0px;
    cursor: pointer;
    z-index: 1;
    overflow: visible;

    .box {
        position: absolute;
        border-radius: 3px;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        background: #391D18;
        z-index: 1;
    }

    .top {
        width: 80px;
        height: 80px;
    }

    .front {
        width: 80px;
        height: 20px;

        transform-origin: 100% 0%;
        -webkit-transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;

        transform: rotateX(-90deg) translate(-80px, 80px);
        -webkit-transform: rotateX(-90deg) translate(-80px, 79px);
        -moz-transform: rotateX(-90deg) translate(-80px, 80px);

        z-index: 2;

    }

    .right {
        width: 20px;
        height: 80px;

        transform-origin: 0%;
        -webkit-transform-origin: 0%;
        -moz-transform-origin: 0%;

        transform: rotateY(90deg) translate(80px, -81px);
        -webkit-transform: rotateY(90deg) translate(79px, -80px);
        -moz-transform: rotateY(90deg) translate(80px, -80px);

        z-index: 2;
    }
}
