.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    overflow: scroll;
}

.text-section {
    height: 100vh;
    padding: 0px 200px;
    margin: 13% 0px 0px 0px;

    color: "#6B0000";
    position: absolute;
    z-index: 1;
    pointer-events: none;

    // animation-name: textSection;
    // animation-duration: 3s;
    //
    // @keyframes textSection {
    //     0% {
    //         opacity: 0;
    //         transform: translateY(100px);
    //     }
    //     50% {
    //         opacity: 0;
    //         transform: translateY(100px);
    //     }
    //     100% {
    //         opacity: 1;
    //         transform: translateY(0px);
    //     }
    // }

    h1 {
        font-family: amador, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 120px;
        // margin-bottom: 30px;
    }
    p {
        width: auto;
        font-size: 16px;

        // animation-name: paragraph;
        // animation-duration: 5s;
        //
        // @keyframes paragraph {
        //     0% {
        //         opacity: 0;
        //         transform: translateY(40px);
        //     }
        //     70% {
        //         opacity: 0;
        //         transform: translateY(40px);
        //     }
        //     100% {
        //         opacity: 1;
        //         transform: translateY(0px);
        //     }
        // }
    }
}

.move-around {
    color: white;
    font-weight: bolder;
    letter-spacing: 4px;

    animation-name: fadeIn;
    animation-duration: 0.4s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.image-section {
    width: 100vw;
    height: 840px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}

.image-card {
    width: 60px;
    height: 60px;
    margin: 0px;
    cursor: pointer;

    img {
        width: 60px;
        height: 60px;
        margin: 0px;
        background-size: cover;
        // opacity: 0;
        // transition: 3s;

        // &:hover {
        //     opacity: 1;
        //     transition: 0.1s;
        // }
    }
}
