.plant-container {
    position: absolute;
    overflow: auto;
    transform: none;
    -webkit-transform: rotateX(140deg) rotateY(140deg) rotateZ(-33deg) translate(0px, 60px);
    pointer-events: none;
    overflow: visible;
    z-index: 4;

    .plant {
        position: relative;
        z-index: 4;
        // width: 10px;
        // height: 60px;
    }

    .plant1 {
        position: relative;
        display: flex;
        justify-content: center;

        .flower {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: pink;
            width: 60px;
            height: 60px;
            border-radius: 30px;

            .petal1 {
                position: absolute;
                background: red;
                width: 20px;
                height: 20px;
                border-radius: 30px;
            }

            .petal2 {
                position: absolute;
                background: #7A0600;
                width: 10px;
                height: 10px;
                border-radius: 30px;
            }
        }

        .stem {
            position: absolute;
            background: #75000c;
            width: 4px;
            height: 80px;
            bottom: -10px;
            border-radius: 30px;

        }

        .leaf {
            position: absolute;
            background: #590009;
            width: 14px;
            height: 32px;
            border-radius: 50%;
        }

        .leaf1 {
            transform: translate(-12px, -50px) rotate(40deg);
        }

        .leaf2 {
            transform: translate(12px, -36px) rotate(140deg);
        }
    }

    .plant2 {
        position: relative;
        display: flex;
        justify-content: center;

        .flower {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: red;
            width: 30px;
            height: 30px;
            border-radius: 30px;

            .petal1 {
                position: absolute;
                background: #f5bca2;
                width: 20px;
                height: 20px;
                border-radius: 30px;
            }

            .petal2 {
                position: absolute;
                background: black;
                width: 10px;
                height: 10px;
                border-radius: 30px;
            }
        }

        .stem {
            position: absolute;
            background: #2b170f;
            width: 40px;
            height: 110px;
            bottom: -35px;
            border-radius: 30px;

        }

        // .leaf {
        //     position: absolute;
        //     background: green;
        //     width: 14px;
        //     height: 32px;
        //     border-radius: 30px;
        //     transform: translate(-12px, -50px) rotate(40deg);
        // }
    }

    .plant3 {
        background: purple;
    }
}
